In [1]:
#import python libraries
import numpy  as np
import pandas as pd

In [2]:
movies = pd.read_csv("tmdb_movies_data.csv")

In [3]:
movies.head(1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09

In [5]:
list(movies)

['id',
 'imdb_id',
 'popularity',
 'budget',
 'revenue',
 'original_title',
 'cast',
 'homepage',
 'director',
 'tagline',
 'keywords',
 'overview',
 'runtime',
 'genres',
 'production_companies',
 'release_date',
 'vote_count',
 'vote_average',
 'release_year',
 'budget_adj',
 'revenue_adj']

In [6]:
"""
Key Columns: id, cast, director, overview, genres, original_title, keywords
"""

movies = movies[['id','cast','director','overview','genres','original_title','keywords']]
movies.head(1)

,id,cast,director,overview,genres,original_title,keywords
0,135397,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,Action|Adventure|Science Fiction|Thriller,Jurassic World,monster|dna|tyrannosaurus rex|velociraptor|island

In [7]:
movies.isnull().sum()

id                   0
cast                76
director            44
overview             4
genres              23
original_title       0
keywords          1493
dtype: int64

In [8]:
movies.dropna(inplace = True)

In [9]:
movies.iloc[0].genres

'Action|Adventure|Science Fiction|Thriller'

In [10]:
def convert(obj):
  s = list(obj)
  for i in range(len(s)):
    if s[i] == '|':
      s[i] = " "

  temp_str = "".join(s)
  temp_list = temp_str.split()

  return temp_list

In [11]:
movies['genres'] = movies['genres'].apply(convert)

In [12]:
movies['keywords'] = movies['keywords'].apply(convert)

In [13]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [14]:
movies['cast'] = movies['cast'].apply(convert)

In [15]:
movies['director'] = movies['director'].apply(convert)

In [16]:
movies.head(2)

,id,cast,director,overview,genres,original_title,keywords
0,135397,"[Chris, Pratt, Bryce, Dallas, Howard, Irrfan, ...","[Colin, Trevorrow]","[Twenty-two, years, after, the, events, of, Ju...","[Action, Adventure, Science, Fiction, Thriller]",Jurassic World,"[monster, dna, tyrannosaurus, rex, velocirapto..."
1,76341,"[Tom, Hardy, Charlize, Theron, Hugh, Keays-Byr...","[George, Miller]","[An, apocalyptic, story, set, in, the, furthes...","[Action, Adventure, Science, Fiction, Thriller]",Mad Max: Fury Road,"[future, chase, post-apocalyptic, dystopia, au..."

In [17]:
movies['tags'] = movies['cast'] + movies['genres'] + movies['director'] + movies['overview'] + movies['keywords']

In [18]:
movies.head(3)

,id,cast,director,overview,genres,original_title,keywords,tags
0,135397,"[Chris, Pratt, Bryce, Dallas, Howard, Irrfan, ...","[Colin, Trevorrow]","[Twenty-two, years, after, the, events, of, Ju...","[Action, Adventure, Science, Fiction, Thriller]",Jurassic World,"[monster, dna, tyrannosaurus, rex, velocirapto...","[Chris, Pratt, Bryce, Dallas, Howard, Irrfan, ..."
1,76341,"[Tom, Hardy, Charlize, Theron, Hugh, Keays-Byr...","[George, Miller]","[An, apocalyptic, story, set, in, the, furthes...","[Action, Adventure, Science, Fiction, Thriller]",Mad Max: Fury Road,"[future, chase, post-apocalyptic, dystopia, au...","[Tom, Hardy, Charlize, Theron, Hugh, Keays-Byr..."
2,262500,"[Shailene, Woodley, Theo, James, Kate, Winslet...","[Robert, Schwentke]","[Beatrice, Prior, must, confront, her, inner, ...","[Adventure, Science, Fiction, Thriller]",Insurgent,"[based, on, novel, revolution, dystopia, seque...","[Shailene, Woodley, Theo, James, Kate, Winslet..."

In [19]:
new_df = movies[['id','original_title','tags']]

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [22]:
new_df['tags'][0]

"chris pratt bryce dallas howard irrfan khan vincent d'onofrio nick robinson action adventure science fiction thriller colin trevorrow twenty-two years after the events of jurassic park, isla nublar now features a fully functioning dinosaur theme park, jurassic world, as originally envisioned by john hammond. monster dna tyrannosaurus rex velociraptor island"

In [49]:
new_df.head()

,id,original_title,tags
0,135397,Jurassic World,chri pratt bryce dalla howard irrfan khan vinc...
1,76341,Mad Max: Fury Road,tom hardi charliz theron hugh keays-byrn nicho...
2,262500,Insurgent,shailen woodley theo jame kate winslet ansel e...
3,140607,Star Wars: The Force Awakens,harrison ford mark hamil carri fisher adam dri...
4,168259,Furious 7,vin diesel paul walker jason statham michel ro...

In [23]:
#Stemming to remove similar words using nltk
import nltk

In [24]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [25]:
def stem(text):
  y = []

  for i in text.split():
    y.append(ps.stem(i))

  return " ".join(y)

In [26]:
new_df['tags'] = new_df['tags'].apply(stem)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000,stop_words='english')

In [50]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [52]:
vectors.shape

(9306, 10000)

In [54]:
#Eucledian distance not a good option for higher dimensionality - using cosine distance

from sklearn.metrics.pairwise import cosine_similarity

In [35]:
similarity = cosine_similarity(vectors)

In [55]:
similarity

array([[1.        , 0.13551538, 0.10874545, ..., 0.        , 0.07600419,
        0.02804964],
       [0.13551538, 1.        , 0.13216961, ..., 0.0327035 , 0.12316769,
        0.03896186],
       [0.10874545, 0.13216961, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.0327035 , 0.        , ..., 1.        , 0.0244558 ,
        0.02707652],
       [0.07600419, 0.12316769, 0.        , ..., 0.0244558 , 1.        ,
        0.02913583],
       [0.02804964, 0.03896186, 0.        , ..., 0.02707652, 0.02913583,
        1.        ]])

In [56]:
new_df[new_df['original_title'] == 'Jurassic World'].index[0]

0

In [62]:
"""
def recommend(movie):
  movie_index = new_df[new_df['original_title']==movie].index[0]
  distances = similarity(movie_index)
  movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

  for i in movies_list:
    print(i[0])
"""

def recommend(movie):
    index = new_df[new_df['original_title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].original_title)

In [70]:
recommend('Jurassic World')

The Lost World: Jurassic Park
Jurassic Park
Futureworld
Jurassic Park III
The Last Starfighter

In [71]:
import pickle

In [72]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [73]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [76]:
pickle.dump(similarity,open('similarity.pkl','wb'))